<h2 class="display-4 text-center">Upcoming Matches</h2>
<hr class="my-4">
<div class="games">
  <div *ngFor="let upcomingMatch of upcomingMatches" class="row text-center align-items-center mb-3 match-card" routerLink="/match_details/{{upcomingMatch.id_g}}/{{upcomingMatch.id_t1}}/{{upcomingMatch.id_t2}}">
    <div class="col">
        <div *ngFor="let team of teamList">
          <app-team-detail *ngIf="team.id_t === upcomingMatch.id_t1" [team]="team"></app-team-detail>
        </div>
    </div>
    <div class="col">
      <p>{{ upcomingMatch.date | date:'medium'}}</p>
      <p> (ADD DYNAMIC EXCHANGE) </p>
    </div>
    <div class="col">
        <div *ngFor="let team of teamList">
          <app-team-detail *ngIf="team.id_t === upcomingMatch.id_t2" [team]="team"></app-team-detail>
        </div>
    </div>
  </div>
</div>

<h2 class="display-4 mt-5 text-center">Matches History</h2>
<hr class="my-4">
<div class="games">
  <div *ngFor="let archivedMatch of archivedMatches" class="row text-center align-items-center mb-3 match-card" routerLink="/match_details/{{archivedMatch.id_g}}/{{archivedMatch.id_t1}}/{{archivedMatch.id_t2}}">
    <div class="col">
        <div *ngFor="let team of teamList">
          <app-team-detail *ngIf="team.id_t === archivedMatch.id_t1" [team]="team"></app-team-detail>
        </div>
    </div>
    <div class="col">
      <p>{{ archivedMatch.date | date:'medium'}}</p>
      <h5 *ngIf="archivedMatch.score_t1 == null || archivedMatch.score_t2 == null; else showScore" class="text-danger">FORFEIT</h5>
      <ng-template #showScore>
        <h5>{{ archivedMatch.score_t1 }} VS {{ archivedMatch.score_t2 }}</h5>
      </ng-template>
    </div>
    <div class="col">
        <div *ngFor="let team of teamList">
          <app-team-detail *ngIf="team.id_t === archivedMatch.id_t2" [team]="team"></app-team-detail>
        </div>
    </div>
  </div>
</div>
