.card {
    border: 0;
}

.team-card {
    background-color: #e0e0e0;
}

.team-card:link,
.team-card:visited {
    transition: filter 0.2s, color 0.2s;
}

.team-card:hover{
    filter: brightness(85%);
}

a{
    text-decoration: none;
    color: #343a40;
}