.team-card {
    background-color: #e0e0e0;
}

.team-card:link,
.team-card:visited {
    transition: filter 0.2s, color 0.2s;
}

.team-card:hover{
    filter: brightness(85%);
}

.team-logo {
    height: 80px;
}

a{
    text-decoration: none;
    color: #343a40;
}

.col-form-label {
    font-weight:bold;
}

form .form-group .ng-invalid.ng-touched {
    border: 1px solid #dc3545;
}